* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  position: relative;
  width: 100vw;
  min-height: 173vh;
  background: #1f2329;
  padding-top: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0px 1px;
  height: 105px;
  margin-top: 0x;
  min-width: 100px;
  justify-content: flex-start;


}

.logo {
  color: white;
  background-color: orangered;
  font-size: 60px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 40px;
  margin: 112px 20px 177px 0;
  display: block;
  text-align: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 5px;
}

.nav-menu li {
  list-style: none;
  color: white;
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 10px;
  font-family: 'Times New Roman', serif;
  line-height: 1;

}

.nav-menu li:hover {
  color: orangered;
}



.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 570px;
  color: rgba(146, 143, 143, 0.977);
  padding: 5px 15px;
  font-family: 'Times New Roman', serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: -30px;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 30px;
  position: relative;
  top: 75px;
}

.icon-circle {
  width: 35px;
  height: 35px;
  background-color: rgba(146, 143, 143, 0.977);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.icon-circle svg {
  color: black;
  font-size: 15px;
  transform: scale(0.9);
}

.icon-circle:hover {
  background-color: white;
  transform: scale(1.1);
}

.blogitems {
  gap: 5px;
  align-items: center;
  font-family: 'Times New Roman', serif;
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 66px;
  left: 0;
  font-family: 'Times New Roman', serif;
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 100;

}

.dropdown li {
  padding: 5px 15px;
  color: black;
}

.dropdown li :hover {
  color: black;
  display: flex;
}

.pageitem {
  gap: 15px;
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;
}

.dropup {
  position: absolute;
  top: 67px;
  left: 0;
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  z-index: 100;
  font-family: 'Times New Roman', serif;
}

.dropup li {
  padding: 5px 15px;
  color: black;
}

.dropup li :hover {
  display: flex;

}

.heading-container {
  color: rgba(146, 143, 143, 0.977);
  font-family: 'Cormorant Garamond', serif;
  padding-right: 70px;
  margin: 30px;
  text-align: center;
  font-size: 65px;
  position: relative;
  top: 35px;
  letter-spacing: 5px;
  width: 100%;
}

.gallery {
  position: relative;
  height: 450px;
}

.gallery-img1 {
  position: absolute;
  top: 90px;
  left: 50px;
}

.gallery-img1 img {
  width: 350px;
  height: 230px;
  object-fit: cover;
  border-radius: 15px;
}


.gallery-img2 {
  position: absolute;
  top: 90px;
  left: 450px;
}

.gallery-img2 img {
  width: 385px;
  height: 530px;
  object-fit: cover;
  border-radius: 15px;
}

.gallery-img3 {
  position: absolute;
  top: 390px;
  right: 50px;
}

.gallery-img3 img {
  width: 350px;
  height: 230px;
  object-fit: cover;
  border-radius: 15px;
}

.para1 {
  color: white;
  text-align: justify;
  padding: 50px;
  margin: 20px auto;
  max-width: 410px;
  font-size: 16px;
  margin-top: 50px;
  line-height: 1.5;
  margin-left: -40px;
  font-family: 'Times New Roman', serif;
}

.para2 {
  color: white;
  text-align: justify;
  padding: 10px;
  height: 300px;
  display: flex;
  margin: 10px auto;
  max-width: 350px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: -545px;
  font-family: 'Times New Roman', serif;
}

.arrow-down {
  position: relative;
  bottom: 375px;
  left: 50%;
  font-size: 60px;
  transform: translateX(-50%);
  z-index: 999;
  color: rgba(146, 143, 143, 0.977);

}

.arrow-up {
  position: relative;
  top: -90px;
  left: 55%;
  font-size: 60px;
  color: rgba(146, 143, 143, 0.977);
  transform: translateX(-50%);
  z-index: 999;
}

.about {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

h3 {

  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  color: orangered;
  letter-spacing: 8px;
  padding: 150px;
  margin: -290px 260px 150px 485px;
  display: flex;

}

h1 {
  font-size: 80px;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 20px;
  letter-spacing: 4px;
  padding: 40px;
  margin: -340px 50px 220px 585px;
  display: flex;


}

.next-section {
  position: relative;
  height: 100px;
}

.wrapper {
  width: 200px;
  height: 500px;
  position: relative;

}


.wrapper img {
  width: 505px;
  margin: 55px;
  top: 300px;
  height: 770px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  border-top-left-radius: 260px;
  border-bottom-left-radius: 40px;
}

.short {
  color: rgba(146, 143, 143, 0.977);
  text-align: justify;
  padding: 30px;
  max-width: 725px;
  font-size: 15px;
  position: relative;
  top: -275px;
  line-height: 1.5;
  margin-left: 575px;
  font-family: 'Times New Roman', serif;
}

.box1 {
  background-color: rgb(227, 224, 224);
  width: 290px;
  height: 330px;
  padding: 45px;
  max-width: 710px;
  font-size: 12px;
  position: relative;
  top: -290px;
  line-height: 1.5;
  margin-left: 600px;
  border-radius: 20px;
  text-align: center;
}

.profile1 img {
  width: 95px;
  height: 95px;
  object-fit: cover;
  margin-top: -25px;
  border-radius: 50%;
  background-color: orangered;
  margin-left: -100px;
  object-position: left;
}

h4 {
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
}

.text1 {
  color: rgba(146, 143, 143, 0.977);
  text-align: justify;
  font-family: 'Times New Roman', serif;
}

.box2 {
  background-color: rgb(227, 224, 224);
  width: 290px;
  height: 330px;
  padding: 45px;
  max-width: 710px;
  font-size: 12px;
  position: relative;
  top: -620px;
  line-height: 1.5;
  margin-left: 925px;
  border-radius: 20px;
  text-align: center;
}

.profile2 img {
  width: 95px;
  height: 95px;
  object-fit: cover;
  margin-top: -25px;
  border-radius: 50%;
  background-color: orangered;
  margin-left: -100px;
  object-position: left;

}

.div {
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  margin-top: 13px;
  margin-left: -5px;
}

.text2 {
  color: rgba(146, 143, 143, 0.977);
  text-align: justify;
  font-family: 'Times New Roman', serif;
}

.tags {
  background: #1f2329;
  height: 270px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  min-width: 100px;
  margin-top: -460px;
  gap: 20px;
  padding-left: 60px;
}

.years,
.clients,
.awards,
.events {
  background-color: black;
  width: 85px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.years svg,
.clients svg,
.awards svg,
.events svg {
  color: orangered;
  font-size: 28px;
}

.arrange1,
.arrange2,
.arrange3,
.arrange4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Times New Roman", serif;
  margin-right: 90px;
}

.tittle1,
.tittle2,
.tittle3,
.tittle4 {
  color: white;
  font-size: 34px;
  margin: 0;
}

.number1,
.number2,
.number3,
.number4 {
  color: #dcdcdc;
  font-size: 38px;
  font-style: italic;
  font-weight: 600;
}

.cards-container {
  position: relative;
  width: 100%;
  padding: 150px 0;
  display: flex;
  justify-content: space-around;
}

.cards-container::before {
  content: "";
  position: absolute;
  top: 25%;
  width: 110%;
  height: 100%;
  background-color: #1f2329;
  z-index: 0;
}

.const1 {
  background-color: rgb(227, 224, 224);
  height: 435px;
  z-index: 1;
  width: 300px;
  padding: 35px;
  margin-left: 5px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: -45px;
}

.pic1 img {
  width: 110px;
  height: 115px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: -25px;
  border-radius: 50%;
  display: flex;

}

h5 {
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 15px;
  margin-left: 45px;
  display: flex;
}

.msg1 {
  color: rgba(146, 143, 143, 0.977);
  text-align: justify;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 22px;
  font-family: 'Times New Roman', serif;
}

.left1 {
  color: orangered;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  margin-left: -20px;
  margin-top: 10px;
}

.pic2 img {
  width: 120px;
  height: 75px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: -25px;
  border-radius: 50%;
  display: flex;

}

.msg2 {
  color: rgba(146, 143, 143, 0.977);
  text-align: justify;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 22px;
  font-family: 'Times New Roman', serif;
}

h6 {
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 25px;
  margin-left: 30px;
  display: flex;
}

.const2 {
  background-color: rgb(227, 224, 224);
  min-width: 50px;
  height: 450px;
  width: 300px;
  padding: 35px;
  z-index: 1;
  margin-left: -55px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: -40px;
}

.left2 {
  color: orangered;
  font-size: 20px;
  margin-left: -20px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

.const3 {
  background-color: rgb(227, 224, 224);
  height: 430px;
  width: 300px;
  padding: 35px;
  margin-left: -65px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  top: -40px;
}

.msg3 {
  color: rgba(146, 143, 143, 0.977);
  text-align: justify;
  margin-top: 25px;
  margin-left: 5px;
  font-size: 22px;
  font-family: 'Times New Roman', serif;
}


.pic3 img {
  width: 110px;
  height: 115px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: -25px;
  border-radius: 50%;
  display: flex;

}

.left3 {
  color: orangered;
  font-size: 20px;
  margin-left: -10px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.discount-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -175px;
  margin-top: 220px;
  padding: 40px;
  border-radius: 20px;

  width: 350px;
}

.discount-percent {
  color: orangered;
  font-size: 55px;
  margin-left: -530px;
  letter-spacing: 5px;
  margin-top: -125px;
}

.discount-text {
  color: rgb(227, 224, 224);
  font-size: 45px;
  margin-left: -350px;
  margin-top: -30px;
  letter-spacing: 4px;
}

.discount-btn {
  background-color: orangered;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding: 25px 50px;
  margin-left: -220px;
  margin-top: -240px;
  position: relative;
  width: fit-content;
  height: 60px;
  border: none;
  cursor: pointer;
}

.meals {
  position: relative;
  width: 100%;
  font-family: 'Times New Roman', serif;
  padding-top: 430px;
}

.our {
  color: orangered;
  margin-left: 435px;
  font-size: 25px;
  letter-spacing: 5px;
}

.hands {
  margin-left: 455px;
  font-size: 55px;
  font-weight: 1000;
  letter-spacing: 2px;
  margin-top: -285px;
}

.crafts {
  margin-left: 525px;
  font-size: 55px;
  font-weight: 1000;
  letter-spacing: 2px;
  margin-top: 5px;
}

.dinner {
  background-color: black;
  padding: 5px 50px;
  width: 340px;
  margin: 50px auto;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.dinner-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.dinner-menu li {
  color: white;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s, transform 0.3s;
  padding: 8px 12px;
}


.dinner-menu li:hover {
  color: orangered;
  transform: scale(1.1);
}


.dinner-menu li.active {
  color: orangered;
  font-weight: bold;
}


.dinner-menu li.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: orangered;
  bottom: -5px;
  left: 0;
  border-radius: 2px;
}

.chicken {
  position: relative;
  height: 450px;
}

.bbq1 {
  position: absolute;
  top: -5px;
  left: 13px;
}

.bbq1 img {
  width: 310px;
  height: 230px;
  object-fit: cover;
}

.bbq2 {
  position: absolute;
  top: -5px;
  left: 323px;
}

.bbq2 img {
  width: 310px;
  height: 230px;
  object-fit: cover;
}


.bbq3 {
  position: absolute;
  top: -5px;
  left: 633px;
}

.bbq3 img {
  width: 310px;
  height: 230px;
  object-fit: cover;
}

.bbq4 {
  position: absolute;
  top: -5px;
  left: 943px;
}

.bbq4 img {
  width: 310px;
  height: 230px;
  object-fit: cover;
}

.bbq5 {
  position: absolute;
  top: 225px;
  left: 13px;
}

.bbq5 img {
  width: 310px;
  height: 230px;
  object-fit: cover;
}

.bbq6 {
  position: absolute;
  top: 225px;
  left: 323px;
}

.bbq6 img {
  width: 310px;
  height: 230px;
  object-fit: cover;
}

.bbq7 {
  position: absolute;
  top: 225px;
  left: 633px;
}

.bbq7 img {
  width: 310px;
  height: 230px;
  object-fit: cover;
}

.bbq8 {
  position: absolute;
  top: 225px;
  left: 943px;
}

.bbq8 img {
  width: 310px;
  height: 230px;
  object-fit: cover;
}

.meet {
  position: relative;
  width: 100%;
  font-family: 'Times New Roman', serif;
  padding-top: 260px;
}

.expert {
  color: orangered;
  margin-left: 400px;
  font-size: 25px;
  letter-spacing: 5px;
}

.chefs {
  margin-left: 465px;
  font-size: 55px;
  font-weight: 1000;
  letter-spacing: 2px;
  margin-top: -285px;
}

.mid {
  margin-left: 565px;
  font-size: 55px;
  font-weight: 1000;
  letter-spacing: 2px;
  margin-top: 5px;
}

.caps {
  width: 200px;
  height: 500px;
  position: relative;
}

.cap1 img {
  width: 370px;
  margin-left: 40px;
  top: 45px;
  height: 440px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  border-top-left-radius: 270px;
  border-bottom-left-radius: 40px;
}

.cap2 img {
 width: 370px;
    margin-left: 450px;
    top: 45px;
    height: 440px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    border-top-left-radius: 270px;
    border-bottom-left-radius: 40px;
}
.cap3 img {
 width: 370px;
    margin-left: 860px;
    top: 45px;
    height: 440px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    border-top-left-radius: 270px;
    border-bottom-left-radius: 40px;
}